<div>
    <div class="cui__utils__heading">
        <strong>MonthWise Sales</strong>
    </div>
    <div class="card">
        <div class="card-header card-header-flex">
            <!-- <div class="d-flex flex-column justify-content-center mr-auto">
                <h5 class="mb-0">Latest Orders</h5>
            </div> -->
            <div class="d-flex flex-column justify-content-center mr-auto">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" nz-input placeholder="Search Products" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
            </div>
            <div class="col-sm-auto row">




            </div>

        </div>
        <!-- <div class="card-body"> -->
        <nz-table #basicTable class="kit__utils__table mb-4" nzSize="small" [nzData]="">
            <thead>
                <tr>
                    <th>
                        <strong>
                            Order Date
                        </strong>
                    </th>
                    <th>
                        <strong>
                            Receipt Count
                        </strong>
                    </th>
                    <th>
                        <strong>
                            Total Sales
                        </strong>
                    </th>
                    <th>
                        <strong> Total Payments</strong>
                    </th>
                    <th>
                        <strong>
                            Taxes
                        </strong>
                    </th>
                    <th>
                        <strong>
                            Discount
                        </strong>
                    </th>
                    <th>
                        <strong>
                            Cash Payments
                        </strong>
                    </th>
                    <th>
                        <strong>
                            Card Payments
                        </strong>
                    </th>
                    <th>
                        <strong>
                            Other Payments
                        </strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>